# --- API CONFIGURATION CONNECTION TO BACKEND ---
# URL Back End Local
NEXT_PUBLIC_API_URL="http://localhost:5000/api"

# URL Back End Production Jika sudah di Deploy BE nya (contoh API dari railway)
# URL ini digunakan ketika development FE local tanpa Run BE local
NEXT_PUBLIC_API_URL=https://xxx.railway.app